@page "/offerPlaces"
@using Kujira.Api.Requests
@using Kujira.Gui.Api.Requests
@using Kujira.Gui.Services
@using MudBlazor
@using Newtonsoft.Json
@using Kujira.Api
@inject IKujiraBackendApi KujiraBackendApi
@inject ISnackbar Snackbar
@inject AuthenticationService AuthService

<h1>Plätze anbieten</h1>
<MudCard>
    <MudForm Model="@offerRequest" @ref="@form">
        <MudCardContent>
            <MudTextField @bind-Value="offerRequest.AvailablePlaces" Label="Verfügbare Plätze" For="() => offerRequest.AvailablePlaces"/>
            <MudCheckBox @bind-Value="offerRequest.LongTermFamilyCare" Label="Langzeitpflege" For="() => offerRequest.LongTermFamilyCare"/>
            <MudCheckBox @bind-Value="offerRequest.CrisisIntervention" Label="Krisenintervention" For="() => offerRequest.CrisisIntervention"/>
            <MudCheckBox @bind-Value="offerRequest.ReliefOffer" Label="Entlastungsangebot" For="() => offerRequest.ReliefOffer"/>

            <MudTextField @bind-Value="offerRequest.CurrentlyPlacedFosterChildren" Label="Aktuell platzierte Pflegekinder" For="() => offerRequest.CurrentlyPlacedFosterChildren"/>
            <MudTextField @bind-Value="offerRequest.BiologicalChildren" Label="Biologische Kinder" For="() => offerRequest.BiologicalChildren"/>
            <MudTextField @bind-Value="offerRequest.AdditionalNote" Label="Zusätzliche Informationen" Multiline For="() => offerRequest.AdditionalNote"/>
            <MudItem xs="12" sm="6" md="4">
                <MudAutocomplete T="ZipRequest" Label="PLZ" @bind-Value="@_selectedZip" SearchFunc="@SearchZips" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Primary">
                  
                </MudAutocomplete>
            </MudItem>
        </MudCardContent>
        <MudCardActions>
            <MudButton Disabled="@_processing" Variant="Variant.Filled" Color="Color.Primary" OnClick="Submit">
                @if (_processing)
                {
                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
                    <MudText Class="ms-2">Lädt</MudText>
                }
                else
                {
                    <MudText>Speichern</MudText>
                }
            </MudButton>
        </MudCardActions>
    </MudForm>
</MudCard>

@code {
    private readonly OfferRequest offerRequest = new();
    private bool _processing = false;
    private MudForm form;
    private IEnumerable<ZipRequest> zips;
    private ZipRequest _selectedZip;


    protected override async Task OnInitializedAsync()
    {
        offerRequest.UserId = await AuthService.GetLoggedInUserIdAsync();
        var zipResponses = await KujiraBackendApi.GetZips();
        zips = zipResponses.Select(c => new ZipRequest(c.Id, c.Code, c.City, c.CantonId, c.Canton, c.CountryId, c.Country)).ToList();
    }

    private async Task Submit()
    {
        _processing = true;
        await Task.Delay(1000);
        
        await form.Validate();

        if (form.IsValid)
        {
            Console.WriteLine($"ICH BIN NEU: LongTermFamilyCare: {offerRequest.LongTermFamilyCare}, CrisisIntervention: {offerRequest.CrisisIntervention}, ReliefOffer: {offerRequest.ReliefOffer}");


            offerRequest.ZipId = _selectedZip?.Id ?? Guid.Empty;

            try
            {
                Console.WriteLine("Sending Offer Request: " + JsonConvert.SerializeObject(offerRequest));
                await KujiraBackendApi.CreateOffer(offerRequest);
                Snackbar.Add("Angebot erfolgreich eingereicht!", Severity.Success);
            }
            catch (Exception ex)
            {
                Console.WriteLine("Error: " + ex.Message);
                Snackbar.Add($"Fehler beim Einreichen des Angebots: {ex.Message}", Severity.Error);
            }
        }
        _processing = false;
    }

    private async Task GetByCodeWithCantonAndCountry()
    {
        if (zips == null || !zips.Any())
        {
            var zipResponses = await KujiraBackendApi.GetZips();
            zips = zipResponses.Select(c => new ZipRequest(c.Id, c.Code, c.City, c.CantonId, c.Canton, c.CountryId, c.Country)).ToList();
        }
    }

    private async Task<IEnumerable<ZipRequest>> SearchZips(string value)
    {
        await Task.Delay(5);

        if (zips == null || !zips.Any())
        {
            return new List<ZipRequest>();
        }

        var filtered = zips.Where(x => x.Code.Contains(value, StringComparison.InvariantCultureIgnoreCase)).ToList();
        return filtered;
    }


}